/* The background color is set to white so it matches the colour of the fog */
body {
    background-color: white;
}

/* The title is styled referencing the title in POPCAT */
/* The large and bold texts in the center makes it extremely visible to the user */
#title {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 100px;
    z-index: 5;
    opacity: 1;
    text-align: center;
}

/* Container for the game */
.bike-simulator {
   position: relative; 
   display: flex;
   align-items: center;
   justify-items: center;
}

/* background of the game */
.background-image {
    background-image: url("image/background.svg");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    height: 90vh;
    width: 100%;
    z-index: 1;
}

/* the fog effect between the figure and the background */
#mask {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}

/* the wrapper for the bicycle figure used for positioning */
.bike-wrapper {
    position: relative;
    top: 72%;
    scale: 50%;
    z-index: 3;
    height: 10%;
    /* background-color: red; */
}

/* the image of the bike excluding wheels */
.bike-image {
    position: absolute;
    z-index: 4;
    scale: 70%;
    transform: translateY(-90%);
}

/* both front and back wheels */
.wheels {
    scale: 18%;
}

/* front wheel image */
/* linear infinite animation makes the wheel spin when game is running */
#front-wheel {
    position: absolute;
    transform: translate(-76%, -300%);
    animation: frontWheelSpin linear infinite;
}

/* back wheel image */
/* linear infinite animation makes the wheel spin when game is running */
#back-wheel {
    position: absolute;
    transform: translate(80%, -300%);
    animation: backWheelSpin linear infinite;
}

/* speedometer that is set to black in contrast of the white fog and background */
.speed-display {
    position: absolute;
    color: black;
    right: 0%;
    bottom: 0%;
    font-size: x-large;
    z-index: 3;
}

/* the tip text that is black in contrast to the background and positioned close under the figure to be seen easily */
#tip-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 6cm);
    font-size: 20px;
    color: black;
    text-align: center;
    z-index: 3;
}

/* both @keyframes make sure the wheel is spinning in counter-clockwise, so it's moving forward */
@keyframes frontWheelSpin {
    from {
        transform: translate(-76%, -300%) rotate(30deg);
    }
    to {
        transform: translate(-76%, -300%) rotate(0deg);
    }
}

@keyframes backWheelSpin {
    from {
        transform: translate(80%, -300%) rotate(30deg);
    }
    to {
        transform: translate(80%, -300%) rotate(0deg);
    }
}

/* text wrapper for the 500 words */
/* default has transparent background so it doesnt block the background too much if it really does get in the way because of the window size */
.words-display {
    position: absolute;
    z-index: 6;
    padding: 2vh;
    background-color: transparent;
    max-width: 90%;
}

/* the button that is used to summon and remove the 500 words */
#display-button {
    position: relative;
}

/* 500 words itself */
/* automatically switch to next line when reaches max-width of the text wrapper and larger line-height making the text easier to read */
#article {
    position: relative;
    word-wrap: break-word;
    line-height: 120%;
}

/* higher break words helps sepearting the paragraphs and improving the experience in reading */
br {
    margin: 10px;
    display: block;
    content: "";
}