/*assigning 4 types of id to determine which div needs to have a specific corner of border radius*/
#top-left{
    border-top-left-radius: 3rem;
}

#top-right{
    border-top-right-radius: 3rem;
}

#bottom-left{
    border-bottom-left-radius: 3rem;
}

#bottom-right{
    border-bottom-right-radius: 3rem;
}

/*the choice of color is only pink because it's also a warm color like the original, but just pink so it doesn't look too distracting*/
/*following Hedra-page 25.jpg, using grid template with 5 columns to achieve the design*/
/*the container for all div, centered at the middle of the page automatically*/
.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    max-width: fit-content;
    margin: auto;
    /*the center of the radial-gradient may symbolize the eye of the snake*/
    background: repeating-radial-gradient(circle at 30.8% 22.4%, rgba(255, 255, 255, 0.366), rgb(255, 189, 193) , rgb(255, 180, 180) 15px 3.2rem);
    padding: 14px;
    border-radius: 2rem;
    border-style:double;
    border-width: 15px;
    border-color: white;
}

.in-div{
    margin: 10px;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border-color: pink;
    border-width: 8px;
    border-style: double;
}

.blank{
    margin: 10px;
    width: 100px;
    height: 100px;
}