/* z-index order */

*{
  box-sizing: border-box;
  background-origin: border-box;
  margin: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Basis for colour palette comes from 1bit Monitor Glow Palette by Polyducks */
/* https://lospec.com/palette-list/1bit-monitor-glow */
/* you're welcome to change the colours if you want or any of the other general page style */
:root{
  --col-01:#222323;
  --col-02:#f0f6f0;
  --col-03:#5252ff;
  --col-04:#b6e878;
  --border: 1px solid var(--col-02);
}

body{
  display: flex;
  flex-direction: column;
  background-color: var(--col-01);
  color: var(--col-02);
  padding: 2vw;
}

/*
  i've set up a basic flexbox for each recipe container - you might want to change some of the 
  flex properties here on the container or on the individual flex items depending on how you want to style them
*/
.RecipeBox{
  display: flex;
  flex-direction: column;
  border: var(--border);
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 14px;
}

.FilterSection{

}

.FilterBox{

}

.FilterButton{
  background-color: transparent;
  border-color: white;
  color: white;
  padding: 2px 10px;
  border-width: 2px;
  margin: 5px 1px;
}

.SelectedFilter{
  color: rgb(252, 252, 117);
  border-color: rgb(252, 252, 117);
  font-weight: bold;
}

.RecipeLink{
  padding-top: 10px;
  color: rgb(132, 132, 132);
}

.RecipeName{
  font-size: xx-large;
  color: orange;
}

.Author{
  color: yellow;
}

.RecipeImageContainer{
  padding-top: 10px;
  padding-bottom: 20px;
}

.RecipeImg{

}

.Attribution{

}

.Publisher{

}

.Cuisine{

}

.TimeToCook{

}

.SkillLevel{

}

.Course{

}

.Servings{

}

.Dietary{

}

.DatePublished{

}

.DateUpdated{

}

.SpecialEquipment{

}

